# code owners padrão de todo o repositório:
* @CalebeEmerick @pedroyremolo @erikacarvalho


# code owners padrão da pasta que contém o conteúdo:
content/ @CalebeEmerick @agabiandrade @pedroyremolo @erikacarvalho
