# code owners padrão para o repositório:
* @erikacarvalho @aronrichter @joaogularte @brvnaleao @biancapisseli @CMedrado @rca0

# code owners padrão da pasta que contém as github actions
.github/workflows/ @rca0 @strund3r @erikacarvalho
