+++
title = "Stone OpenBank"
linkTitle = "Stone OpenBank"

+++

<link href="https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Lt.woff2" rel="preload" as="font"
      crossorigin="">
<link href="https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Rg.woff2" rel="preload" as="font"
      crossorigin="">
<link href="https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Md.woff2" rel="preload" as="font"
      crossorigin="">
<link href="https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Bd.woff2" rel="preload" as="font"
      crossorigin="">

{{< blocks/cover title="Escreva o Banco do futuro. Uma linha de código por vez." image_anchor="top" color="primary" >}}
<div class="mx-auto d-flex align-items-center ">
    <div>
        <a class="btn btn-lg btn-primary" href="{{< relref "/docs/referencia-da-api" >}}">
        Referência da API <i class="fas fa-arrow-alt-circle-right ml-2"></i>
        </a>
    </div>
    <div>
        {{< blocks/link-down color="light" >}}
    </div>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="light" >}}

{{% blocks/feature icon="fas fa-terminal" title="Referência da API" %}}
<p>Conheça os endpoints da nossa API e seus contratos.</p>
<a href="/docs/referencia-da-api" class="btn btn-lg btn-secondary">Ver Documentação</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book-open" title="Guias" %}}
<p>Não sabe por onde começar? Dê uma olhada nesses guias preparados especialmente para você.</p>
<a href="/docs/guias" class="btn btn-lg btn-secondary">Ir para o guia</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-heart" title="Parceiros" %}}
<p>Quer entender mais dos nossos modelos de parceria? Sem problemas, fale com nosso time comercial!</p>
<a href="https://app.pipefy.com/public/form/Qz4ptt_W?origem_do_lead=%22Documenta%C3%A7%C3%A3o%22"
   class="btn btn-lg btn-secondary">
    Quero ser parceiro
</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-envelope-open-text" title="Status Page" %}}
<button href="#" disabled class="btn btn-lg btn-secondary">Em Breve</button>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bullseye" title="SDKs" %}}
<p>Quer desenvolver com facilidade? Utilize nossas SDKs</p>
<a href="https://docs.openbank.stone.com.br/docs/guias/conta-stone-sdk/overview/"
   class="btn btn-lg btn-secondary">
    Quero usar a SDK
</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-question-circle" title="FAQ" %}}
<button href="#" disabled class="btn btn-lg btn-secondary">Em Breve</button>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="light">}}

<div class="col-12">
    <h2 class="text-center">Quer entender o melhor modelo de parceria para seu negócio?</h2>
    <p class="text-center lead mt-3">Fale com nosso time comercial!</p>
    <center><a class="btn btn-lg btn-primary mr-3 mb-4 mt-3"
               href="https://app.pipefy.com/public/form/Qz4ptt_W?origem_do_lead=%22Documenta%C3%A7%C3%A3o%22">
        Entrar em contato <i class="fas fa-share-square ml-2"></i>
    </a></center>
</div>

{{< /blocks/section >}}
