+++
title = "Stone OpenBank"
linkTitle = "Stone OpenBank"

+++

{{< blocks/cover title="Escreva o Banco do futuro. Uma linha de código por vez." image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Referência da API <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Saiba mais!</p>
	{{< blocks/link-down color="light" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-sliders-h" title="Referência da API" %}}
<a href="/docs">Conheça os endpoints da nossa API e seus contratos.</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-map-signs" title="Guias" %}}
Em breve
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-thumbtack" title="Avisos" %}}
Em breve
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-briefcase-medical" title="SKDs" %}}
Em breve
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-question-circle" title="FAQ" %}}
Em breve
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-heart" title="Parceiros" %}}
<a href="https://app.pipefy.com/public/form/Qz4ptt_W?origem_do_lead=Formul%C3%A1rio%20comercial%20documenta%C3%A7%C3%A3o">Quero ser parceiro</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="light">}}

<div class="col-12">
<h2 class="text-center">Quer entender mais dos nossos modelos de parceria?</h2>
<p class="text-center lead mt-3">Sem problemas, fale com nosso time comercial!</p>
<center><a class="btn btn-lg btn-primary mr-3 mb-4 mt-3" href="https://app.pipefy.com/public/form/Qz4ptt_W?origem_do_lead=Formul%C3%A1rio%20comercial%20documenta%C3%A7%C3%A3o">
Entrar em contato <i class="fas fa-share-square ml-2"></i>
</a></center>
</div>

{{< /blocks/section >}}
