/*
Add styles or override variables from the theme here.
*/

$primary: #004033;
$secondary: #677481;
$green: #004033;
$dark: #5a6872;
$white: #f8f9fd;
$light: #f4f4f9;
$lightgrey: #C3C8D2;
$darkgreen: #088037;
$link-color: #004033;
$link-hover-color: $lightgrey;
$blue: $primary;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;

// Fonts

@font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Lt.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Lt.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Rg.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Rg.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Bd.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Bd.woff')
        format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sharon Sans';
    src: url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Md.woff2')
        format('woff2'),
      url('https://res.cloudinary.com/dunz5zfpt/raw/upload/fonts/SharonSans-Md.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
