/*
Add styles or override variables from the theme here.
*/

$primary: #004033;
$secondary: #677481;
$green: #004033;
$dark: #353E4B;
$white: #f8f9fd;
$light: #f4f4f9;
$lightgrey: #C3C8D2;
$darkgreen: #088037;
$link-color: #004033;
$link-hover-color: $lightgrey;
$blue: $primary;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
