name: hugo publish

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Install autoprefixer and PostCSS
        run: |
          npm install -D -g --save postcss@^8.0.2 autoprefixer postcss-cli autoprefixer-cli

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.69.0'
          extended: true

      - name: Build
        run: cd themes/docsy && git submodule update -f --init && cd ../.. && hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          EXTERNAL_REPOSITORY: stone-co/stone-co.github.io
          PUBLISH_BRANCH: master
          PUBLISH_DIR: ./public
        with:
          emptyCommits: false
          commitMessage: ${{ github.event.head_commit.message }}
